image: alpine:latest
stages:
  - tf_apply
  - tf_cleanup
terraform_apply:
  stage: test
  script:
    - "echoo terraform apply..."
  only:
    refs:
      - /^feat.*$/
    variables:
      - $CI_COMMIT_MESSAGE =~ /#tf_apply/
  except:
    refs:
      - master

terraform_cleanup:
  stage: tf_cleanup
  script:
    - "echo terraform destroy..."
  when: on_failure
