variable instance_type {
  description = "The machine type for rancher server"
  default     = "m5.4xlarge"
}

variable volume_size {
  description = "The machine volume size in GB"
  default     = "50"
}

variable aws_region {
  description = "AWS region"
  default     = "us-east-2"
}

variable "public_domain" {
  description = "Public domain to setup dns record for rancher url"
  default     = "foo.bar"
}

variable "unique_name" {
  description = "Name to tag instance"
  default     = "rancher"
}