#cloud-config

package_upgrade: true
packages:
 - apt-transport-https
 - ca-certificates
 - software-properties-common
 - curl
 - docker-ce

apt:
 sources:
   curtin-dev-ppa.list:
     source: "deb [arch=amd64] https://download.docker.com/linux/ubuntu $RELEASE stable"
runcmd:
 - [ docker, run, -d, --restart=unless-stopped, -p, 443:443, rancher/rancher:latest ]